<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- JDBC -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5433/library</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">test</property>

        <!-- Dialecto -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Esquema / DDL -->
        <!-- create-drop: crea al iniciar y borra al cerrar
            update: intenta actualizar (útil en dev)
            validate: solo valida -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Debug SQL -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- (Opcional) para que Hibernate sepa dónde están tus entidades si no las registras
        manualmente -->
    </session-factory>
</hibernate-configuration>